[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "finnts"]
	path = finnts
	url = https://github.com/microsoft/finnts
[submodule "nixtlar"]
	path = nixtlar
	url = https://github.com/Nixtla/nixtlar
	registered = false
[submodule "vivainsights"]
	path = vivainsights
	url = https://github.com/microsoft/vivainsights
[submodule "wpa"]
	path = wpa
	url = https://github.com/microsoft/wpa
